.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column; //all elements to sit on top of each other

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}